
 .comment-table td {
    padding: 2.5px;
    text-align: center;
}
.comment-table th{
    text-align: center;
    padding: 5px 0px;
    font-weight: 700;
}

@media screen and (min-width:900px) {
    .comment-table td {
            padding:20px;
            text-align: center;
        }
}
